@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@100;200;300;500&family=Roboto&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
 


header {
    height: 200px;
    font-family: poppins;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    color: aliceblue;
    padding: 10px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius: 30px;
}

.filtro{
display: flex;
justify-content: center;
margin: 30px 0;
}

.filtro img{
width: 40px;
}

h1{
font-size: 1.7rem;
text-align: center;
margin-bottom: 10px;
}

h2.fecha{
     font-size: .9rem;
    text-align: center;
    font-weight: 300;
    
}
.colorAmanecer{
    background-color: #2b85d3;
    background-image: linear-gradient(180deg, #2b85d3 25%, #f68b20 100%);

}

.colorDia{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.colorAtardecer{
    background-color: #1d6bb0;
background-image: linear-gradient(180deg, #1d6bb0 25%, #f68b20 100%);

}

.colorNoche{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imagenDia{
    background-image: url('./recursos/sol.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    margin: 5px;
}

.imagenTarde{
    background-image: url('./recursos/nube.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    margin: 5px;
}
.imagenNoche{
    background-image: url('./recursos/noche-nublada.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    margin: 5px;
}



.misNotas{
    font-size: 1.5rem;
    text-align: start;
    color: rgb(36, 36, 36);
    margin-top: 10px;
    font-family: poppins;
    font-weight: 500;
    padding: 20px;
}


img{
margin: 10px;
width: 50px;
margin: 5px;
padding-left: 3px;
}


.ventana-modal{
display: flex;
 position: fixed;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
background-color: rgba(0, 0, 0, 0.195);
width: 100%;
height: 100vh;
display: none;
 z-index: 1;
}
 
 .caja-modal{
    font-family: poppins;
    margin: 200px auto;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    height: auto;
    text-align: center;
    background-color: white;
    box-shadow: 10px 9px 29px 3px rgba(0,0,0,0.48);
    -webkit-box-shadow: 10px 9px 29px 3px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 9px 29px 3px rgba(0,0,0,0.48);
    
}

 
.caja-modal p{
text-align: start; 
}


.caja-modal form {
display: flex;
flex-direction: column;
}

.caja-modal form label{
text-align: start;
font-size: 20px;
margin-top: 13px;
}

.error{
margin-bottom:10px ;
}

.error1{
    margin-bottom:10px ;
}

.caja-modal form input,select {
    height: 30px;
    border: none;
    border-bottom: 2px solid green;
    outline: none;
    font-family: poppins;
   
    }

    .caja-modal form button {
    
        margin:15px auto;
        width: 100px;
        padding: 6px;
        border-radius: 8px;
        border: 2px solid rgb(43, 107, 192);
        background-color: rgb(43, 107, 192);
        color: white;
        cursor: pointer;
        transition: all .4s ease;
    }

    .caja-modal form button:hover{
        background-color: rgb(60, 158, 250);
        
    }

    .cajaBtn{
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
         
    }

    .cajaCerrarModal{
    width: 100%;
   position: relative;
   left: 220px;
   top: -20px;
    }

    .cerrarModal{
        cursor: pointer;
        width:35px;
        height: 35px;
        padding-left:10px ;
        padding-top: 2px;
        border-radius: 100px;
        background-color: rgba(255, 0, 0, 0.68);
        color: white;
        font-size: 20px;
        font-family: poppins;
         border: 1px solid rgba(255, 0, 0, 0.581);
    }

    .cerrarModal p{
    margin: 10px;
    }

    .cajaBtn img{
    width: 50px;
    transition: all .5 ease;
   
    }

    .cajaBtn img:hover{
        -moz-transform: translate(0px, -8px);
        -webkit-transform: translate(0px, -8px);
        -o-transform: translate(0px, -8px);
        -ms-transform: translate(0px, -8px);
        transform: translate(0px, -8px);
        }

    /* estilos tarjetas */

    .contenedorNotas{
    display: flex;
    /* display: grid; */
    grid-template-columns: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column; 
    }

    .contNota {
    max-width: 318px;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
    color: rgb(10, 10, 10);
    border-radius: 20px;
    background-color: #1976d2;
    margin: 5px auto;
    border: 1px solid rgb(162, 159, 159);
    -webkit-box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.35);
    box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.35);
    }

    .categ{
        font-size: 20px;
        text-align: start;
        font-weight: 800;
        margin-left: 10px;
    }

    .conImg{
    margin-left: 10px;
    }

    .contCategoria{
        margin-right: 10px;
    }
    .contMensaje {
    width: 100%;
    padding: 12px;
   }

    .valorNota {
    width: 100%;
    text-align: start;
    height: 40px;
    color: black;
    font-weight: 200;
    }

    .contCat{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    
    }
 
    .contHora{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .notaHora{
    font-size: 13px;
    margin: 5px 10px;
    }

   .btnEliminar{
    width: 29px;
    height: 26px;
    margin: 5px 10px;
    cursor: pointer;
}
 
 

.imgCategoria{
    width: 40px;
    height: 40px;
    margin: 10px 15px 10px  -5px;

}

@media screen and (min-width:400px) {

    header{
    flex-direction: row;
    }
 
    h1{
        font-size: 2rem;
        text-align: start;
        }
        
        h2{
            font-size: .6rem;
            text-align: star;
        }
    .contenedorNotas{
  
        display: flex;
        display: grid;
        /* grid-template-columns: 50% 50%;
         */
         flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        flex-direction: column; 
        }
    
        .contNota{
        max-width: 218px;
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: poppins;
        color: rgb(10, 10, 10);
        border-radius: 20px;
        background-color: #1976d2;
        margin: 5px auto;
        
        }
        .categ{
            font-size: 16px;
            text-align: start;
            font-weight: 800;
        }
}

@media screen and (min-width:1164px) {

    .contenedorNotas{
        display: flex;
      
        /* grid-template-columns: 50% 50%; */
        width: 80%;
        justify-content: stretch;
        flex-direction: row; 
        margin: 5px auto;
        }

        .contNota{
            max-width: 218px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-family: poppins;
            color: rgb(10, 10, 10);
            border-radius: 20px;
            background-color: #1976d2;
            margin: 5px auto;
            
            }

            .categ{
                font-size: 20px;
                text-align: start;
                font-weight: 800;
            }
 
    /* .contNota{
        margin: 10px auto;
        width: 700px;
    max-width: 700px;
    } */
    
}